@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap');

$black_color: black;
$main_font: 'Inter', sans-serif;
$second_font: 'Readex Pro', sans-serif;

*{
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1294px;
 margin: auto;
}
header{
  .container{
  display: flex;
    justify-content: space-between;
  }
.logo{
  padding: 45px 0 29px;
  }
  nav{
    ul{
      display: flex;
      list-style: none;
      padding: 31px 0 32px;
      li{
        margin-right: 33px;
        &:nth-child(2){
          &:after {
            content: "";
            display: inline-block;
            box-sizing: border-box;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            transform: rotate(45deg);
            margin-left: 4px;
            margin-bottom: 3px;
          }
          }
        &:nth-child(3){
          margin-right: 44px;
        }
        a{
          text-decoration: none;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }
  }
  .items {
    display: flex;
    list-style: none;
    padding: 28px 0;
    position: relative;
    right: 25px;
    li {
      &:first-of-type {
        margin-right: 26px;
      }
    }
  }
}
.main_banner{
  margin-top: 28px;
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #DCE5E2;
    border-radius: 32px;
  }
  .main_box{
    max-width: 588px;
    h1{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
      margin-bottom: 19px;
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      padding-bottom: 30px;
    }
    a{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      text-decoration: none;
    }
  }
}
.categories {
  padding: 75px 0 20px;
    h2 {
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-bottom: 9px;
    }

    p {
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #000000;
      margin-bottom: 55px;
    }

    .categories_articles {
      display: flex;
      &:hover{
        position: relative;
        bottom: -50px;
        transition: 1s;
      }
      .laptops {
        background: #FFFFFF;
        position: relative;
        width: 639px;
        height: 472px;
        box-shadow:0 0 20px darkseagreen;
        margin-right: 16px;
        .laptops_photo {
          position: absolute;
          left: 30px;
        }

        .laptops_text {
          position: absolute;
          right: 40px;
          bottom: 0;
          p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: right;
            color: #000000;
            margin-bottom: 0;
          }
          h3{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: right;
            color: #000000;
            max-width: 192px;
          }
        }
        .watch{
          width: 639px;
          height: 270px;
          background: #FFFFFF;
          box-shadow:0 0 20px darkseagreen ;
          position: absolute;
          bottom: -320px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .watch_photo{
          display: block;
          }
          p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: right;
            color: #000000;
            margin-bottom: 0;
          }
          h3 {
            max-width: 128px;
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: right;
            color: #000000;
            margin: 0;
          }
        }
      }
      .phones{
        width: 312px;
        height: 792px;
        background: #FFFFFF;
        position: relative;
        margin-right: 16px;
        box-shadow:0 0 20px darkseagreen ;
        .phones_photo{
          position: absolute;
          top: 130px;
          right: 0;
        }
        .phones_text{
        position: absolute;
          bottom: 140px;
          right: 35px;
        p{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          text-align: center;
          color: #000000;
          margin-bottom: 0;
        }
          h3{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            max-width: 250px;
            margin: 0;
          }
        }
      }
      .tablet{
        width: 312px;
        height: 792px;
        background: #FFFFFF;
        position: relative;
        box-shadow:0 0 20px darkseagreen ;
        .tablet_photo{
          position: absolute;
          bottom: 80px;
        }
        .tablet_text{
          position: absolute;
          top: 130px;
          right: 40px;
          p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #000000;
            margin-bottom: 0;
          }
          h3{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            max-width: 233px;
            margin: 0;
          }
        }
      }
    }
  }
.most_selled{
  padding: 78px 0 27px;
  h3{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }
  p{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-align: center;
    margin-bottom: 31px;
  }
  .selled_items{
    display: flex;
    justify-content: space-between;
    .macbook_pro{
      max-width: 303px;
      padding: 28px 0;
      .most_selled_image{
        margin: 28px;
      }
    h4{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 9px;
    }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        margin-bottom: 25px;
        text-align: left;
        max-width: 261px;
      }
      a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-decoration: none;
      }
    }
    .smart_watch{
      max-width: 303px;
      padding:31px 0 28px;
      .smart_watch_image{
        margin: 28px;
      }
      h4{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 9px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        text-align: left;
        margin-bottom: 6px;
        max-width: 261px;
      }
      a{
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
    .macbook_air{
      max-width: 303px;
      padding: 31px 0 28px;
      .macbook_air_photo{
        margin: 28px;
      }
      h4{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 9px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        text-align: left;
        margin-bottom: 6px;
        max-width: 261px;
      }
      a{
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
    .ipad{
      max-width: 303px;
      padding: 31px 0 28px;
      .ipad_photo{
        margin: 28px;
      }
      h4{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 9px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        margin-bottom: 8px;
        text-align: left;
        max-width: 261px;
      }
      a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
.new_design {
  padding: 47px 0 28px;

  h3 {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }

  p {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 56px;
    text-align: center;
  }

  .container {
    &:last-of-type {
      display: flex;
      justify-content: space-between;
    }

    .latest {
      background: #F8F9FA;
      border-radius: 16px;
      padding-top: 41px;
      max-width: 413px;
      text-align: center;

      p {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 30px;
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
      }

      a {
        padding: 14px 63px;
        border: 1px solid #000000;
        border-radius: 200px;
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
      }

      .latest_photo {
        display: inline-block;
        margin-top: 30px;

      }
    }
    .best_selling{
      background: #F8F9FA;
      border-radius: 16px;
      padding-top: 41px;
      max-width: 413px;
      text-align: center;
      p {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 30px;
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
      }

      a {
        padding: 14px 63px;
        border: 1px solid #000000;
        border-radius: 200px;
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
      }
      .best_selling_photo{
        display: inline-block;
        margin-top: 30px;
      }
    }
    .product{
      background: #F8F9FA;
      border-radius: 16px;
      padding-top: 41px;
      max-width: 413px;
      text-align: center;
      p {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 30px;
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
      }

      a {
        padding: 14px 63px;
        border: 1px solid #000000;
        border-radius: 200px;
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
      }
      .product_photo{
        display: inline-block;
        margin-top: 30px;
      }
    }
  }
}
.ideas {
  padding: 47px 0 24px;

  h3 {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }

  p {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 56px;
  }

  .ideas_box {
    display: flex;
    justify-content: space-between;

    .ideas_photo {
      display: block;
    }

    .ideas_text {
      max-width: 600px;

      h4 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 28px;
        max-width: 600px;
      }
    }
  }

  .ideas_see_all {
    text-align: center;
    margin-top: 73px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    .arrow {
      box-sizing: border-box;
      position: relative;
      top: 10px;
      right: -15px;
      display: inline-block;
      width: 13px;
      height: 13px;
      border-top: 3px solid;
      transform: scale(var(--ggs, 1));
      border-right: 3px solid;

      &:after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        width: 14px;
        height: 2px;
        background: currentColor;
        transform: rotate(-45deg);
        top: -16px;
        right: 3px
      }
    }
  }
}
.looking_for{
  padding: 51px 0 19px;
  h3{
    margin-bottom: 24px;
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }
  form{
    max-width: 650px;
    margin: auto;
  }
  input{
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    width: 650px;
    height: 60px;
    padding-left: 70px ;
    position: relative;
    right: 50px;
    &::placeholder{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      color: #000000;
    }
  }
  .search_link{
    position: relative;
   right: 25px;
    bottom: 43px;
  }
  .search_items {
    max-width: 550px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    a {
      background: #FFFFFF;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      padding: 12px 22px 13px;
      text-decoration: none;
      margin-right: 7px;
      margin-bottom: 7px;
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
    .search_items_second {
      display: flex;
      max-width: 450px;
      margin: auto;
    }
  }
  .container {
    &:last-of-type {
      background: #DCE5E2;
      border-radius: 16px;
      max-width: 935px;
      margin-top: 68px;
      padding: 47px 0 43px;
    }
    h3{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-bottom: 9px;
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      margin-bottom: 14px;
    }
    .best_offer_photo{
      max-width: 233px;
      width: 100%;
      margin: auto;
    }
  }
}