@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1294px;
  margin: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
}
header .logo {
  padding: 33px 0 29px;
}
@media screen and (max-width: 560px) {
  header .logo {
    padding-bottom: 10px;
    display: block;
    margin-left: 30px;
  }
}
@media screen and (max-width: 370px) {
  header .logo {
    margin-left: 0;
  }
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 31px 0 32px;
}
@media screen and (max-width: 560px) {
  header nav ul {
    display: block;
    margin-right: 30px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 370px) {
  header nav ul {
    margin-right: 0;
  }
}
header nav ul li {
  margin-right: 33px;
}
@media screen and (max-width: 650px) {
  header nav ul li {
    margin-right: 15px;
  }
}
@media screen and (max-width: 560px) {
  header nav ul li {
    margin-bottom: 10px;
  }
}
header nav ul li:nth-child(2):after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  margin-left: 4px;
  margin-bottom: 3px;
}
header nav ul li:nth-child(3) {
  margin-right: 44px;
}
@media screen and (max-width: 650px) {
  header nav ul li:nth-child(3) {
    margin-right: 15px;
  }
}
header nav ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}
header .items {
  display: flex;
  list-style: none;
  padding: 28px 0;
  position: relative;
  right: 25px;
}
@media screen and (max-width: 715px) {
  header .items {
    display: none;
  }
}
header .items li:first-of-type {
  margin-right: 26px;
}

.main_banner {
  margin-top: 12px;
}
@media screen and (max-width: 560px) {
  .main_banner {
    margin-top: 5px;
  }
}
.main_banner .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #DCE5E2;
  border-radius: 32px;
}
.main_banner .owl-dots .owl-dot {
  position: absolute;
  bottom: 34px;
  left: 310px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1222px) {
  .main_banner .owl-dots .owl-dot {
    bottom: 10px;
  }
}
@media screen and (max-width: 1170px) {
  .main_banner .owl-dots .owl-dot {
    display: none;
  }
}
.main_banner .owl-dots .owl-dot:nth-child(2) {
  position: absolute;
  bottom: 34px;
  left: 550px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1222px) {
  .main_banner .owl-dots .owl-dot:nth-child(2) {
    bottom: 10px;
  }
}
@media screen and (max-width: 1170px) {
  .main_banner .owl-dots .owl-dot:nth-child(2) {
    display: none;
  }
}
.main_banner .owl-dots .owl-dot:last-of-type {
  position: absolute;
  bottom: 34px;
  left: 800px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1222px) {
  .main_banner .owl-dots .owl-dot:last-of-type {
    bottom: 10px;
  }
}
@media screen and (max-width: 1170px) {
  .main_banner .owl-dots .owl-dot:last-of-type {
    display: none;
  }
}
.main_banner .owl-dots .owl-dot span {
  display: inline-block;
  width: 194px;
  height: 2px;
  background-color: black;
  margin-right: 34px;
}
.main_banner .owl-dots .active span {
  background: blue;
}
.main_banner .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
}
@media screen and (max-width: 615px) {
  .main_banner .owl-nav .owl-prev {
    display: none;
  }
}
.main_banner .owl-nav .owl-prev:before {
  font-weight: 900;
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-size: 35px;
}
.main_banner .owl-nav .owl-next {
  position: absolute;
  right: 15px;
}
@media screen and (max-width: 615px) {
  .main_banner .owl-nav .owl-next {
    display: none;
  }
}
.main_banner .owl-nav .owl-next:before {
  font-weight: 900;
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-size: 35px;
  transform: rotate(180deg);
  display: inline-block;
}

.main_box {
  max-width: 588px;
  margin-top: 150px;
  margin-left: 56px;
}
@media screen and (max-width: 1140px) {
  .main_box {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1006px) {
  .main_box {
    margin-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  .main_box {
    margin-top: 200px;
    margin-left: 200px;
  }
}
@media screen and (max-width: 915px) {
  .main_box {
    margin-left: 100px;
  }
}
@media screen and (max-width: 715px) {
  .main_box {
    margin-left: 40px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 615px) {
  .main_box {
    margin-left: 0;
  }
}
@media screen and (max-width: 555px) {
  .main_box {
    margin-top: 50px;
  }
}
@media screen and (max-width: 468px) {
  .main_box {
    margin-top: 0;
  }
}
.main_box h1, .main_box h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
@media screen and (max-width: 447px) {
  .main_box h1, .main_box h2 {
    font-size: 30px;
    margin-top: 10px;
    line-height: 50px;
  }
}
.main_box p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 30px;
  max-width: 585px;
}
.main_box a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
  padding: 14px 53px;
  text-decoration: none;
}

.categories {
  padding: 75px 0 20px;
}
.categories h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.categories p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
}
.categories .categories_articles {
  display: flex;
}
@media screen and (max-width: 1300px) {
  .categories .categories_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 983px) {
  .categories .categories_articles {
    display: block;
  }
}
.categories .categories_articles .laptops {
  background: #FFFFFF;
  position: relative;
  max-width: 639px;
  max-height: 472px;
  margin-right: 16px;
}
.categories .categories_articles .laptops .laptops_first {
  width: 639px;
  z-index: 1;
  box-shadow: 0 0 20px darkseagreen;
  height: 472px;
  background: #FFFFFF;
}
.categories .categories_articles .laptops .laptops_first:hover {
  transition: 0.5s;
  transform: scale(1.1);
  position: relative;
  bottom: -23px;
}
@media screen and (max-width: 983px) {
  .categories .categories_articles .laptops .laptops_first {
    margin-bottom: 320px;
    margin-left: 130px;
  }
}
@media screen and (max-width: 800px) {
  .categories .categories_articles .laptops .laptops_first {
    margin-left: 70px;
  }
}
@media screen and (max-width: 733px) {
  .categories .categories_articles .laptops .laptops_first {
    margin-left: 0;
  }
}
@media screen and (max-width: 655px) {
  .categories .categories_articles .laptops .laptops_first {
    width: 500px;
  }
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .laptops .laptops_first {
    width: 312px;
    height: 100px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 462px) {
  .categories .categories_articles .laptops .laptops_first {
    margin-left: 43px;
  }
}
@media screen and (max-width: 366px) {
  .categories .categories_articles .laptops .laptops_first {
    margin-left: 2px;
  }
}
.categories .categories_articles .laptops .laptops_first .laptops_photo {
  position: absolute;
  left: 30px;
}
@media screen and (max-width: 983px) {
  .categories .categories_articles .laptops .laptops_first .laptops_photo {
    left: 160px;
  }
}
@media screen and (max-width: 733px) {
  .categories .categories_articles .laptops .laptops_first .laptops_photo {
    left: 0;
  }
}
@media screen and (max-width: 655px) {
  .categories .categories_articles .laptops .laptops_first .laptops_photo {
    left: 0;
  }
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .laptops .laptops_first .laptops_photo {
    display: none;
  }
}
.categories .categories_articles .laptops .laptops_first .laptops_text {
  position: absolute;
  right: 40px;
  bottom: 0;
}
@media screen and (max-width: 655px) {
  .categories .categories_articles .laptops .laptops_first .laptops_text {
    right: 200px;
  }
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .laptops .laptops_first .laptops_text {
    right: 153px;
  }
}
@media screen and (max-width: 470px) {
  .categories .categories_articles .laptops .laptops_first .laptops_text {
    right: 133px;
  }
}
@media screen and (max-width: 387px) {
  .categories .categories_articles .laptops .laptops_first .laptops_text {
    right: 100px;
  }
}
@media screen and (max-width: 336px) {
  .categories .categories_articles .laptops .laptops_first .laptops_text {
    right: 80px;
  }
}
.categories .categories_articles .laptops .laptops_first .laptops_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .laptops .laptops_first .laptops_text h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  max-width: 192px;
}
.categories .categories_articles .laptops .watch {
  width: 639px;
  height: 270px;
  background: #FFFFFF;
  box-shadow: 0 0 20px darkseagreen;
  margin-top: 49px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.categories .categories_articles .laptops .watch:hover {
  transition: 0.5s;
  transform: scale(1.1);
  z-index: 1;
}
@media screen and (max-width: 1300px) {
  .categories .categories_articles .laptops .watch {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 983px) {
  .categories .categories_articles .laptops .watch {
    top: 450px;
    left: 130px;
  }
}
@media screen and (max-width: 800px) {
  .categories .categories_articles .laptops .watch {
    margin-left: -60px;
  }
}
@media screen and (max-width: 733px) {
  .categories .categories_articles .laptops .watch {
    left: 0;
  }
}
@media screen and (max-width: 655px) {
  .categories .categories_articles .laptops .watch {
    width: 560px;
  }
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .laptops .watch {
    width: 312px;
    height: 100px;
    top: 80px;
    left: 160px;
  }
}
@media screen and (max-width: 462px) {
  .categories .categories_articles .laptops .watch {
    margin-left: -116px;
  }
}
@media screen and (max-width: 366px) {
  .categories .categories_articles .laptops .watch {
    margin-left: -157px;
  }
}
.categories .categories_articles .laptops .watch .watch_photo {
  display: block;
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .laptops .watch .watch_photo {
    display: none;
  }
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .laptops .watch .watch_text {
    margin-left: -200px;
  }
}
.categories .categories_articles .laptops .watch .watch_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .laptops .watch .watch_text h3 {
  max-width: 128px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  margin: 0;
}
.categories .categories_articles .phones {
  width: 312px;
  height: 792px;
  background: #FFFFFF;
  position: relative;
  margin-right: 16px;
  box-shadow: 0 0 20px darkseagreen;
}
@media screen and (max-width: 983px) {
  .categories .categories_articles .phones {
    margin-bottom: 40px;
    margin-left: 330px;
  }
}
@media screen and (max-width: 800px) {
  .categories .categories_articles .phones {
    margin-left: 150px;
  }
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .phones {
    width: 312px;
    height: 100px;
    margin-left: 100px;
    top: -160px;
  }
}
@media screen and (max-width: 462px) {
  .categories .categories_articles .phones {
    margin-left: 43px;
    height: 100px;
    width: 312px;
  }
}
@media screen and (max-width: 366px) {
  .categories .categories_articles .phones {
    margin-left: 2px;
  }
}
.categories .categories_articles .phones:hover {
  position: relative;
  transition: 0.5s;
  transform: scale(1.1);
}
.categories .categories_articles .phones .phones_photo {
  position: absolute;
  top: 130px;
  right: 0;
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .phones .phones_photo {
    display: none;
  }
}
.categories .categories_articles .phones .phones_text {
  position: absolute;
  bottom: 140px;
  right: 35px;
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .phones .phones_text {
    bottom: 0;
  }
}
.categories .categories_articles .phones .phones_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .phones .phones_text h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  max-width: 250px;
  margin: 0;
}
.categories .categories_articles .tablet {
  width: 312px;
  height: 792px;
  background: #FFFFFF;
  position: relative;
  box-shadow: 0 0 20px darkseagreen;
}
@media screen and (max-width: 1300px) {
  .categories .categories_articles .tablet {
    margin-top: 25px;
  }
}
@media screen and (max-width: 983px) {
  .categories .categories_articles .tablet {
    margin-left: 330px;
  }
}
@media screen and (max-width: 800px) {
  .categories .categories_articles .tablet {
    margin-left: 150px;
  }
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .tablet {
    margin-left: 100px;
    width: 312px;
    height: 100px;
    top: -170px;
  }
}
@media screen and (max-width: 462px) {
  .categories .categories_articles .tablet {
    margin-left: 43px;
    height: 100px;
    width: 312px;
  }
}
@media screen and (max-width: 366px) {
  .categories .categories_articles .tablet {
    margin-left: 2px;
  }
}
.categories .categories_articles .tablet:hover {
  position: relative;
  transition: 0.5s;
  transform: scale(1.1);
}
.categories .categories_articles .tablet .tablet_photo {
  position: absolute;
  bottom: 80px;
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .tablet .tablet_photo {
    display: none;
  }
}
.categories .categories_articles .tablet .tablet_text {
  position: absolute;
  top: 130px;
  right: 40px;
}
@media screen and (max-width: 517px) {
  .categories .categories_articles .tablet .tablet_text {
    top: 0;
  }
}
.categories .categories_articles .tablet .tablet_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .tablet .tablet_text h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  max-width: 233px;
  margin: 0;
}

.most_selled {
  padding: 78px 0 27px;
}
@media screen and (max-width: 517px) {
  .most_selled {
    padding-top: 0;
  }
}
.most_selled h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 31px;
}
.most_selled .selled_items {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1212px) {
  .most_selled .selled_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 606px) {
  .most_selled .selled_items {
    justify-content: center;
  }
}
.most_selled .selled_items .macbook_pro {
  max-width: 303px;
  padding: 28px 0;
}
.most_selled .selled_items .macbook_pro .most_selled_image {
  margin: 28px;
}
.most_selled .selled_items .macbook_pro h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .macbook_pro p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
  text-align: left;
  max-width: 261px;
}
.most_selled .selled_items .macbook_pro a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}
.most_selled .selled_items .smart_watch {
  max-width: 303px;
  padding: 31px 0 28px;
}
.most_selled .selled_items .smart_watch .smart_watch_image {
  margin: 28px;
}
.most_selled .selled_items .smart_watch h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .smart_watch p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  text-align: left;
  margin-bottom: 6px;
  max-width: 261px;
}
.most_selled .selled_items .smart_watch a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.most_selled .selled_items .macbook_air {
  max-width: 303px;
  padding: 31px 0 28px;
}
.most_selled .selled_items .macbook_air .macbook_air_photo {
  margin: 28px;
}
.most_selled .selled_items .macbook_air h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .macbook_air p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  text-align: left;
  margin-bottom: 6px;
  max-width: 261px;
}
.most_selled .selled_items .macbook_air a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.most_selled .selled_items .ipad {
  max-width: 303px;
  padding: 31px 0 28px;
}
.most_selled .selled_items .ipad .ipad_photo {
  margin: 28px;
}
.most_selled .selled_items .ipad h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .ipad p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 8px;
  text-align: left;
  max-width: 261px;
}
.most_selled .selled_items .ipad a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.new_design {
  padding: 47px 0 28px;
}
.new_design h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.new_design p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 56px;
  text-align: center;
}
.new_design .container:last-of-type {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1212px) {
  .new_design .container:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.new_design .container .latest {
  background: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
  max-width: 413px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 415px) {
  .new_design .container .latest {
    padding-bottom: 30px;
  }
}
.new_design .container .latest p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.new_design .container .latest h4 {
  margin-bottom: 30px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.new_design .container .latest a {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.new_design .container .latest .latest_photo {
  display: inline-block;
  margin-top: 30px;
}
@media screen and (max-width: 415px) {
  .new_design .container .latest .latest_photo {
    display: none;
  }
}
.new_design .container .best_selling {
  background: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
  max-width: 413px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 415px) {
  .new_design .container .best_selling {
    padding-bottom: 30px;
  }
}
.new_design .container .best_selling p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.new_design .container .best_selling h4 {
  margin-bottom: 30px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.new_design .container .best_selling a {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.new_design .container .best_selling .best_selling_photo {
  display: inline-block;
  margin-top: 30px;
}
@media screen and (max-width: 415px) {
  .new_design .container .best_selling .best_selling_photo {
    display: none;
  }
}
.new_design .container .product {
  background: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
  max-width: 413px;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .new_design .container .product {
    padding-bottom: 30px;
  }
}
.new_design .container .product p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.new_design .container .product h4 {
  margin-bottom: 30px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.new_design .container .product a {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.new_design .container .product .product_photo {
  display: inline-block;
  margin-top: 30px;
}
@media screen and (max-width: 415px) {
  .new_design .container .product .product_photo {
    display: none;
  }
}

.ideas {
  padding: 47px 0 24px;
}
.ideas .container {
  text-align: center;
}
.ideas .container h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.ideas .container p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 56px;
}
.ideas .container .ideas_box {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 35px;
}
@media screen and (max-width: 1240px) {
  .ideas .container .ideas_box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.ideas .container .ideas_box .ideas_photo {
  display: block;
  max-width: 620px;
  width: 100%;
}
@media screen and (max-width: 620px) {
  .ideas .container .ideas_box .ideas_photo {
    display: none;
  }
}
.ideas .container .ideas_box .ideas_text {
  max-width: 600px;
}
@media screen and (max-width: 620px) {
  .ideas .container .ideas_box .ideas_text {
    margin-left: 10px;
  }
}
.ideas .container .ideas_box .ideas_text h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 28px;
  max-width: 600px;
}
.ideas .container .see_all {
  text-decoration: none;
}
.ideas .container .ideas_see_all {
  text-align: center;
  margin-top: 73px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
}
.ideas .container .ideas_see_all .arrow {
  box-sizing: border-box;
  position: relative;
  top: 10px;
  right: -15px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 3px solid;
  transform: scale(var(--ggs, 1));
  border-right: 3px solid;
}
.ideas .container .ideas_see_all .arrow:after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 14px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  top: -16px;
  right: 3px;
}

.looking_for {
  padding: 51px 0 19px;
}
.looking_for h3 {
  margin-bottom: 24px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.looking_for form {
  max-width: 650px;
  margin: auto;
}
.looking_for input {
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  width: 650px;
  height: 60px;
  padding-left: 70px;
  position: relative;
  right: 50px;
}
@media screen and (max-width: 767px) {
  .looking_for input {
    padding-left: 100px;
    width: 250px;
    right: -120px;
  }
}
@media screen and (max-width: 575px) {
  .looking_for input {
    padding-left: 30px;
  }
}
@media screen and (max-width: 495px) {
  .looking_for input {
    right: -40px;
  }
}
@media screen and (max-width: 366px) {
  .looking_for input {
    right: -20px;
  }
}
.looking_for input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
}
.looking_for .search_link {
  position: relative;
  right: 25px;
  bottom: 43px;
  background: #F8F9FA;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .looking_for .search_link {
    right: -55px;
    bottom: -6px;
  }
}
@media screen and (max-width: 495px) {
  .looking_for .search_link {
    right: -5px;
  }
}
@media screen and (max-width: 366px) {
  .looking_for .search_link {
    right: 15px;
  }
}
.looking_for .search_items {
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .looking_for .search_items {
    margin-top: 10px;
  }
}
.looking_for .search_items a {
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  padding: 12px 22px 13px;
  text-decoration: none;
  margin-right: 7px;
  margin-bottom: 7px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.looking_for .search_items a:hover {
  background-color: #F8F9FA;
  transition: 0.3s;
}
.looking_for .container:last-of-type {
  background: #DCE5E2;
  border-radius: 16px;
  max-width: 935px;
  margin-top: 68px;
  padding: 47px 0 43px;
}
.looking_for .container h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.looking_for .container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 14px;
}
.looking_for .container .best_offer_photo {
  max-width: 233px;
  width: 100%;
  margin: auto;
}
.looking_for .container .second_form {
  display: flex;
  max-width: 400px;
  margin-top: 14px;
}
.looking_for .container .second_form .email_input {
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
  height: 50px;
  width: 285px;
  margin-right: -50px;
}
@media screen and (max-width: 767px) {
  .looking_for .container .second_form .email_input {
    width: 150px;
    margin-left: -100px;
  }
}
@media screen and (max-width: 495px) {
  .looking_for .container .second_form .email_input {
    margin-left: 10px;
  }
}
.looking_for .container .second_form .button {
  background: #000000;
  border-radius: 0 200px 200px 0;
  padding: 15px 20px 16px;
}
@media screen and (max-width: 767px) {
  .looking_for .container .second_form .button {
    position: relative;
    right: -170px;
  }
}
@media screen and (max-width: 495px) {
  .looking_for .container .second_form .button {
    right: -90px;
  }
}
@media screen and (max-width: 375px) {
  .looking_for .container .second_form .button {
    right: -70px;
  }
}
.looking_for .container .second_form .button .button_sec {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
}

footer {
  padding-top: 55px;
  background: #F8F9FA;
}
footer .container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #DCE5E2;
}
@media screen and (max-width: 860px) {
  footer .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
footer .container .last_logo {
  max-width: 304px;
}
@media screen and (max-width: 432px) {
  footer .container .last_logo {
    margin-bottom: 15px;
  }
}
footer .container .last_logo p {
  margin-top: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
footer .container ul {
  list-style: none;
  margin-bottom: 78px;
}
footer .container ul li {
  margin-bottom: 14px;
}
footer .container ul li:first-of-type {
  margin-bottom: 19px;
}
footer .container ul li:first-of-type a {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
footer .container ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
footer .container ul li a:hover {
  position: relative;
  transition: 0.2s;
  background-color: #869791;
}
footer .container:last-of-type {
  padding-top: 52px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 420px) {
  footer .container:last-of-type {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
footer .container:last-of-type a {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
footer .container:last-of-type span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 3px;
}
footer .container .last_text {
  box-sizing: border-box;
  position: relative;
  top: 9px;
  right: 2px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 3px solid;
  transform: scale(var(--ggs, 1));
  border-right: 3px solid;
}
footer .container .last_text:after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 14px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  top: -12px;
  right: 2px;
}
footer .container .last_link {
  text-decoration: none;
}

/*# sourceMappingURL=preproc.css.map */
