@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap');

$black_color: black;
$main_font: 'Inter', sans-serif;
$second_font: 'Readex Pro', sans-serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

*{
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1294px;
 margin: auto;
}
header{
  .container{
  display: flex;
    justify-content: space-between;
  }
.logo{
  padding: 33px 0 29px;
  @include max-screen(560px){
    padding-bottom: 10px;
    display: block;
    margin-left: 30px;
  }
  @include max-screen(370px){
    margin-left: 0;
  }
  }
  nav{
    ul{
      display: flex;
      list-style: none;
      padding: 31px 0 32px;
      @include max-screen(560px){
        display: block;
        margin-right: 30px;
        padding-bottom: 0;
      }
      @include max-screen(370px){
        margin-right: 0;
      }
      li{
        margin-right: 33px;
        @include max-screen(650px){
          margin-right: 15px;
        }
        @include max-screen(560px){
          margin-bottom: 10px;
        }
        &:nth-child(2){
          &:after {
            content: "";
            display: inline-block;
            box-sizing: border-box;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            transform: rotate(45deg);
            margin-left: 4px;
            margin-bottom: 3px;
          }
          }
        &:nth-child(3){
          margin-right: 44px;
          @include max-screen(650px){
            margin-right: 15px;
          }
        }
        a{
          text-decoration: none;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }
  }
  .items {
    display: flex;
    list-style: none;
    padding: 28px 0;
    position: relative;
    right: 25px;
    @include max-screen(715px){
      display: none;
    }

    li {
      &:first-of-type {
        margin-right: 26px;
      }
    }
  }
}
.main_banner{
  margin-top: 12px;
  @include max-screen(560px){
    margin-top: 5px;
  }
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #DCE5E2;
    border-radius: 32px;
    }
    .owl-dots{

      .owl-dot{
        @include max-screen(1222px){
          bottom: 10px;
        }
        @include max-screen(1170px){
          display: none;
        }
        position: absolute;
        bottom: 34px;
        left: 310px;
        display: flex;
        justify-content: center;
        &:nth-child(2){
          @include max-screen(1222px){
            bottom: 10px;
          }
          @include max-screen(1170px){
            display: none;
          }
          position: absolute;
          bottom: 34px;
          left: 550px;
          display: flex;
          justify-content: center;
        }
        &:last-of-type{
          @include max-screen(1222px){
            bottom: 10px;
          }
          @include max-screen(1170px){
            display: none;
          }
          position: absolute;
          bottom: 34px;
          left: 800px;
          display: flex;
          justify-content: center;
        }
        span{
          display: inline-block;
          width: 194px;
          height: 2px;
          background-color: black;
          margin-right: 34px;
        }
      }
      .active{
        span{
          background: blue;
        }
      }
    }
    .owl-nav{
      .owl-prev{
        position: absolute;
        left: 15px;
        @include max-screen(615px){
          display: none;
        }
        &:before{
          font-weight: 900;
          content: "\f053";
          font-family: "Font Awesome 6 Free";
          font-size: 35px;
        }
      }
      .owl-next{
        position: absolute;
        right: 15px;
        @include max-screen(615px){
          display: none;
        }
        &:before{
          font-weight: 900;
          content: "\f053";
          font-family: "Font Awesome 6 Free";
          font-size: 35px;
          transform: rotate(180deg);
          display: inline-block;
        }
      }
    }
  }
  .main_box{
    max-width: 588px;
    margin-top: 150px;
    margin-left: 56px;
    @include max-screen(1140px){
      margin-top: 30px;
    }
    @include max-screen(1006px){
      margin-top: 0;
    }
    @include max-screen(1000px){
      margin-top: 200px;
      margin-left: 200px;
    }
    @include max-screen(915px){
      margin-left: 100px;
    }
    @include max-screen(715px){
      margin-left: 40px;
      margin-top: 100px;
    }
    @include max-screen(615px){
      margin-left: 0;
    }
    @include max-screen(555px){
      margin-top: 50px;
    }
    @include max-screen(468px){
      margin-top: 0;
    }
    h1, h2{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
      margin-bottom: 19px;
      @include max-screen(447px){
        font-size: 30px;
        margin-top: 10px;
        line-height: 50px;
      }
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      padding-bottom: 30px;
      max-width: 585px;
    }
    a{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      text-decoration: none;
    }
  }
.categories {
  padding: 75px 0 20px;
    h2 {
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-bottom: 9px;
    }

    p {
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #000000;
      margin-bottom: 55px;
    }

    .categories_articles {
      display: flex;
      @include max-screen(1300px){
       display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      @include max-screen(983px){
        display: block;
      }

      .laptops {
        background: #FFFFFF;
        position: relative;
        max-width: 639px;
        max-height: 472px;

        margin-right: 16px;


        .laptops_first{
          width: 639px;
          z-index: 1;
          box-shadow:0 0 20px darkseagreen;
          height: 472px;
          background: #FFFFFF;
          &:hover{
            transition: 0.5s ;
            transform: scale(1.1);
            position: relative;
            bottom: -23px;
          }
          @include max-screen(983px){
            margin-bottom: 320px;
            margin-left: 130px;
          }
          @include max-screen(800px){
            margin-left: 70px;
          }
          @include max-screen(733px){
            margin-left: 0;
          }
          @include max-screen(655px){
            width: 500px;
          }
          @include max-screen(517px){
            width: 312px;
            height: 100px;
            margin-left: 100px;
          }
          @include max-screen(462px){
            margin-left: 43px;
          }
          @include max-screen(366px){
            margin-left: 2px;
          }
        .laptops_photo {
          position: absolute;
          left: 30px;
          @include max-screen(983px){
            left: 160px;
          }
          @include max-screen(733px){
            left: 0;
          }
          @include max-screen(655px){
            left: 0;
          }
          @include max-screen(517px){
            display: none;
          }
        }

        .laptops_text {
          position: absolute;
          right: 40px;
          bottom: 0;
          @include max-screen(655px){
            right: 200px;
          }
          @include max-screen(517px){
            right: 153px;
          }
          @include max-screen(470px){
            right: 133px;
          }
          @include max-screen(387px){
            right: 100px;
          }
          @include max-screen(336px){
            right: 80px;
          }
          p {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: right;
            color: #000000;
            margin-bottom: 0;
          }

          h3 {
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: right;
            color: #000000;
            max-width: 192px;
          }
        }
        }
        .watch{
          width: 639px;
          height: 270px;
          background: #FFFFFF;
          box-shadow:0 0 20px darkseagreen ;
          margin-top: 49px;
          position: absolute;
          display: flex;
          justify-content: space-around;
          align-items: center;
          &:hover{
            transition: 0.5s ;
            transform: scale(1.1);
            z-index: 1;
          }
          @include max-screen(1300px){
            margin-bottom: 40px;
          }
          @include max-screen(983px){
            top: 450px;
            left: 130px;
          }
          @include max-screen(800px){
            margin-left: -60px;
          }
          @include max-screen(733px){
            left: 0;
          }
          @include max-screen(655px){
            width: 560px;
          }
          @include max-screen(517px){
            width: 312px;
            height: 100px;
            top: 80px;
            left: 160px;
          }
          @include max-screen(462px){
            margin-left: -116px;
          }
          @include max-screen(366px){
            margin-left: -157px;
          }
          .watch_photo{
          display: block;
            @include max-screen(517px){
              display: none;
            }
          }
          .watch_text {
            @include max-screen(517px){
              margin-left: -200px;
            }
            p {
              font-family: $main_font;
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 19px;
              text-align: right;
              color: #000000;
              margin-bottom: 0;
            }

            h3 {
              max-width: 128px;
              font-family: $second_font;
              font-style: normal;
              font-weight: 400;
              font-size: 32px;
              line-height: 38px;
              text-align: right;
              color: #000000;
              margin: 0;
            }
          }
        }
      }
      .phones{
        width: 312px;
        height: 792px;
        background: #FFFFFF;
        position: relative;
        margin-right: 16px;
        box-shadow:0 0 20px darkseagreen ;
        @include max-screen(983px){
          margin-bottom: 40px;
          margin-left: 330px;
        }
        @include max-screen(800px){
          margin-left: 150px;
        }
        @include max-screen(517px){
          width: 312px;
          height: 100px;
          margin-left: 100px;
          top: -160px;
        }
        @include max-screen(462px){
          margin-left: 43px;
          height: 100px;
          width: 312px;
        }
        @include max-screen(366px){
          margin-left: 2px;
        }
        &:hover{
          position: relative;
          transition: 0.5s ;
          transform: scale(1.1);
        }
        .phones_photo{
          position: absolute;
          top: 130px;
          right: 0;
          @include max-screen(517px){
            display: none;
          }
        }
        .phones_text{
        position: absolute;
          bottom: 140px;
          right: 35px;
          @include max-screen(517px){
            bottom: 0;
          }
        p{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          text-align: center;
          color: #000000;
          margin-bottom: 0;
        }
          h3{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            max-width: 250px;
            margin: 0;
          }
        }
      }
      .tablet{
        width: 312px;
        height: 792px;
        background: #FFFFFF;
        position: relative;
        @include max-screen(1300px){
          margin-top: 25px;
        }
        @include max-screen(983px){
          margin-left: 330px;
        }
        @include max-screen(800px){
          margin-left: 150px;
        }
        @include max-screen(517px){
          margin-left: 100px;
          width: 312px;
          height: 100px;
          top: -170px;
        }
        @include max-screen(462px){
          margin-left: 43px;
          height: 100px;
          width: 312px;
        }
        @include max-screen(366px){
          margin-left: 2px;
        }
        &:hover{
          position: relative;
          transition: 0.5s ;
          transform: scale(1.1);
        }
        box-shadow:0 0 20px darkseagreen ;
        .tablet_photo{
          position: absolute;
          bottom: 80px;
          @include max-screen(517px){
            display: none;
          }
        }
        .tablet_text{
          position: absolute;
          top: 130px;
          right: 40px;
          @include max-screen(517px){
            top: 0;
          }
          p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #000000;
            margin-bottom: 0;
          }
          h3{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            max-width: 233px;
            margin: 0;
          }
        }
      }
    }
  }
.most_selled{
  padding: 78px 0 27px;
  @include max-screen(517px){
    padding-top: 0;
  }
  h3{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }
  p{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-align: center;
    margin-bottom: 31px;
  }
  .selled_items{
    display: flex;
    justify-content: space-between;
    @include max-screen(1212px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @include max-screen(606px){
      justify-content: center;
    }
    .macbook_pro{
      max-width: 303px;
      padding: 28px 0;
      .most_selled_image{
        margin: 28px;
      }
    h4{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 9px;
    }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        margin-bottom: 25px;
        text-align: left;
        max-width: 261px;
      }
      a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-decoration: none;
      }
    }
    .smart_watch{
      max-width: 303px;
      padding:31px 0 28px;
      .smart_watch_image{
        margin: 28px;
      }
      h4{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 9px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        text-align: left;
        margin-bottom: 6px;
        max-width: 261px;
      }
      a{
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
    .macbook_air{
      max-width: 303px;
      padding: 31px 0 28px;
      .macbook_air_photo{
        margin: 28px;
      }
      h4{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 9px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        text-align: left;
        margin-bottom: 6px;
        max-width: 261px;
      }
      a{
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
    .ipad{
      max-width: 303px;
      padding: 31px 0 28px;
      .ipad_photo{
        margin: 28px;
      }
      h4{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 9px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        margin-bottom: 8px;
        text-align: left;
        max-width: 261px;
      }
      a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
.new_design {
  padding: 47px 0 28px;

  h3 {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }

  p {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 56px;
    text-align: center;
  }

  .container {
    &:last-of-type {
      display: flex;
      justify-content: space-between;
      @include max-screen(1212px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }

    .latest {
      background: #F8F9FA;
      border-radius: 16px;
      padding-top: 41px;
      max-width: 413px;
      text-align: center;
      margin-bottom: 10px;
      @include max-screen(415px){
        padding-bottom: 30px;
      }
      p {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 30px;
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
      }

      a {
        padding: 14px 63px;
        border: 1px solid #000000;
        border-radius: 200px;
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
      }

      .latest_photo {
        display: inline-block;
        margin-top: 30px;
        @include max-screen(415px){
          display: none;
        }
      }
    }
    .best_selling{
      background: #F8F9FA;
      border-radius: 16px;
      padding-top: 41px;
      max-width: 413px;
      text-align: center;
      margin-bottom: 10px;
      @include max-screen(415px){
        padding-bottom: 30px;
      }
      p {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 30px;
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
      }

      a {
        padding: 14px 63px;
        border: 1px solid #000000;
        border-radius: 200px;
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
      }
      .best_selling_photo{
        display: inline-block;
        margin-top: 30px;
        @include max-screen(415px){
          display: none;
        }
      }
    }
    .product{
      background: #F8F9FA;
      border-radius: 16px;
      padding-top: 41px;
      max-width: 413px;
      text-align: center;
      @include max-screen(415px){
        padding-bottom: 30px;
      }
      p {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 30px;
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
      }

      a {
        padding: 14px 63px;
        border: 1px solid #000000;
        border-radius: 200px;
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
      }
      .product_photo{
        display: inline-block;
        margin-top: 30px;
        @include max-screen(415px){
          display: none;
        }
      }
    }
  }
}
.ideas {
  padding: 47px 0 24px;
    .container {
      text-align: center;
      h3 {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 52px;
        text-align: center;
        color: #000000;
        margin-bottom: 9px;
      }

      p {
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        margin-bottom: 56px;
      }

      .ideas_box {
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 35px;
        @include max-screen(1240px) {
          flex-wrap: wrap;
          justify-content: space-around;
        }

        .ideas_photo {
          display: block;
          max-width: 620px;
          width: 100%;
          @include max-screen(620px) {
            display: none;
          }
        }

        .ideas_text {
          max-width: 600px;
          @include max-screen(620px){
            margin-left: 10px;
          }
          h4 {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 28px;
            max-width: 600px;
          }
        }
      }

      .see_all {
        text-decoration: none;
      }

      .ideas_see_all {
        text-align: center;
        margin-top: 73px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: #000000;

        .arrow {
          box-sizing: border-box;
          position: relative;
          top: 10px;
          right: -15px;
          display: inline-block;
          width: 13px;
          height: 13px;
          border-top: 3px solid;
          transform: scale(var(--ggs, 1));
          border-right: 3px solid;

          &:after {
            content: "";
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            width: 14px;
            height: 2px;
            background: currentColor;
            transform: rotate(-45deg);
            top: -16px;
            right: 3px
          }
        }
      }
    }
}
.looking_for{
  padding: 51px 0 19px;
  h3{
    margin-bottom: 24px;
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }
  form{
    max-width: 650px;
    margin: auto;
  }
  input{
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    width: 650px;
    height: 60px;
    padding-left: 70px ;
    position: relative;
    right: 50px;
    @include max-screen(767px){
    padding-left: 100px;
      width: 250px;
      right: -120px;
    }
    @include max-screen(575px){
      padding-left: 30px;
    }
    @include max-screen(495px){
    right: -40px;
    }
    @include max-screen(366px){
    right: -20px;
    }
    &::placeholder{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      color: #000000;
    }
  }
  .search_link{
    position: relative;
   right: 25px;
    bottom: 43px;
    background: #F8F9FA;
    border: none;
    cursor: pointer;
    @include max-screen(767px){
    right: -55px;
      bottom: -6px;
    }
    @include max-screen(495px){
      right: -5px;
    }
    @include max-screen(366px){
      right: 15px;
    }
  }
  .search_items {
    max-width: 550px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include max-screen(767px){
      margin-top: 10px;
    }
    a {
      &:hover{
        background-color:#F8F9FA;
        transition: 0.3s;
      }
      background: #FFFFFF;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      padding: 12px 22px 13px;
      text-decoration: none;
      margin-right: 7px;
      margin-bottom: 7px;
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;

    }
  }
  .container {
    &:last-of-type {
      background: #DCE5E2;
      border-radius: 16px;
      max-width: 935px;
      margin-top: 68px;
      padding: 47px 0 43px;
    }
    h3{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-bottom: 9px;
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      margin-bottom: 14px;
    }
    .best_offer_photo{
      max-width: 233px;
      width: 100%;
      margin: auto;
    }
    .second_form{
      display: flex;
      max-width: 400px;
      margin-top: 14px;
      .email_input{
        background: #DCE5E2;
        border: 1px solid #000000;
        border-radius: 54px 0 0 54px;
        height: 50px;
        width: 285px;
        margin-right: -50px;
        @include max-screen(767px){
          width: 150px;
          margin-left: -100px;
        }
        @include max-screen(495px){
        margin-left: 10px;
        }
      }
      .button{
        background: #000000;
        border-radius: 0 200px 200px 0;
        padding: 15px 20px 16px;
        @include max-screen(767px){
          position: relative;
          right: -170px;
        }
        @include max-screen(495px){
          right: -90px;
        }
        @include max-screen(375px){
          right: -70px;
        }
        .button_sec{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #FFFFFF;
          background-color: black;
        }
      }
    }
  }
}
footer{
  padding-top: 55px;
  background: #F8F9FA;
  .container{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #DCE5E2;
    @include max-screen(860px){
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .last_logo{
      max-width: 304px;
      @include max-screen(432px){
        margin-bottom: 15px;
      }
      p{
        margin-top: 18px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
    }
    ul{
      list-style: none;
      margin-bottom: 78px;
      li{
        margin-bottom: 14px;
        &:first-of-type{
          margin-bottom: 19px;
          a{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #000000;
          }
        }
        a{
          &:hover{
            position: relative;
            transition: 0.2s ;
            background-color: #869791;
          }
          text-decoration: none;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
  }
  .container{
    &:last-of-type{
      padding-top: 52px;
      padding-bottom: 4px;
      display: flex;
      justify-content: space-between;
      @include max-screen(420px){
        justify-content: space-between;
        flex-wrap: wrap;
      }
      a{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
      span{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-left: 3px;
      }
    }
    .last_text{
      box-sizing: border-box;
      position: relative;
      top: 9px;
      right: 2px;
      display: inline-block;
      width: 13px;
      height: 13px;
      border-top: 3px solid;
      transform: scale(var(--ggs, 1));
      border-right: 3px solid;
      &:after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        width: 14px;
        height: 2px;
        background: currentColor;
        transform: rotate(-45deg);
        top: -12px;
        right: 2px;
      }
    }
    .last_link{
      text-decoration: none;
    }
  }
}