@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1294px;
  margin: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
}
header .logo {
  padding: 45px 0 29px;
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 31px 0 32px;
}
header nav ul li {
  margin-right: 33px;
}
header nav ul li:nth-child(2):after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  margin-left: 4px;
  margin-bottom: 3px;
}
header nav ul li:nth-child(3) {
  margin-right: 44px;
}
header nav ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}
header .items {
  display: flex;
  list-style: none;
  padding: 28px 0;
  position: relative;
  right: 25px;
}
header .items li:first-of-type {
  margin-right: 26px;
}

.main_banner {
  margin-top: 28px;
}
.main_banner .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #DCE5E2;
  border-radius: 32px;
}
.main_banner .main_box {
  max-width: 588px;
}
.main_banner .main_box h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
.main_banner .main_box p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 30px;
  max-width: 585px;
}
.main_banner .main_box a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
  padding: 14px 53px;
  text-decoration: none;
}

.categories {
  padding: 75px 0 20px;
}
.categories h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.categories p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
}
.categories .categories_articles {
  display: flex;
}
.categories .categories_articles .laptops {
  background: #FFFFFF;
  position: relative;
  width: 639px;
  height: 472px;
  box-shadow: 0 0 20px darkseagreen;
  margin-right: 16px;
}
.categories .categories_articles .laptops:hover {
  position: relative;
  bottom: -50px;
  transition: 1s;
}
.categories .categories_articles .laptops .laptops_photo {
  position: absolute;
  left: 30px;
}
.categories .categories_articles .laptops .laptops_text {
  position: absolute;
  right: 40px;
  bottom: 0;
}
.categories .categories_articles .laptops .laptops_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .laptops .laptops_text h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  max-width: 192px;
}
.categories .categories_articles .laptops .watch {
  width: 639px;
  height: 270px;
  background: #FFFFFF;
  box-shadow: 0 0 20px darkseagreen;
  position: absolute;
  bottom: -320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.categories .categories_articles .laptops .watch .watch_photo {
  display: block;
}
.categories .categories_articles .laptops .watch p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .laptops .watch h3 {
  max-width: 128px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  margin: 0;
}
.categories .categories_articles .phones {
  width: 312px;
  height: 792px;
  background: #FFFFFF;
  position: relative;
  margin-right: 16px;
  box-shadow: 0 0 20px darkseagreen;
}
.categories .categories_articles .phones:hover {
  position: relative;
  bottom: -50px;
  transition: 1s;
}
.categories .categories_articles .phones .phones_photo {
  position: absolute;
  top: 130px;
  right: 0;
}
.categories .categories_articles .phones .phones_text {
  position: absolute;
  bottom: 140px;
  right: 35px;
}
.categories .categories_articles .phones .phones_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .phones .phones_text h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  max-width: 250px;
  margin: 0;
}
.categories .categories_articles .tablet {
  width: 312px;
  height: 792px;
  background: #FFFFFF;
  position: relative;
  box-shadow: 0 0 20px darkseagreen;
}
.categories .categories_articles .tablet:hover {
  position: relative;
  bottom: -50px;
  transition: 1s;
}
.categories .categories_articles .tablet .tablet_photo {
  position: absolute;
  bottom: 80px;
}
.categories .categories_articles .tablet .tablet_text {
  position: absolute;
  top: 130px;
  right: 40px;
}
.categories .categories_articles .tablet .tablet_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.categories .categories_articles .tablet .tablet_text h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  max-width: 233px;
  margin: 0;
}

.most_selled {
  padding: 78px 0 27px;
}
.most_selled h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 31px;
}
.most_selled .selled_items {
  display: flex;
  justify-content: space-between;
}
.most_selled .selled_items .macbook_pro {
  max-width: 303px;
  padding: 28px 0;
}
.most_selled .selled_items .macbook_pro .most_selled_image {
  margin: 28px;
}
.most_selled .selled_items .macbook_pro h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .macbook_pro p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
  text-align: left;
  max-width: 261px;
}
.most_selled .selled_items .macbook_pro a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}
.most_selled .selled_items .smart_watch {
  max-width: 303px;
  padding: 31px 0 28px;
}
.most_selled .selled_items .smart_watch .smart_watch_image {
  margin: 28px;
}
.most_selled .selled_items .smart_watch h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .smart_watch p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  text-align: left;
  margin-bottom: 6px;
  max-width: 261px;
}
.most_selled .selled_items .smart_watch a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.most_selled .selled_items .macbook_air {
  max-width: 303px;
  padding: 31px 0 28px;
}
.most_selled .selled_items .macbook_air .macbook_air_photo {
  margin: 28px;
}
.most_selled .selled_items .macbook_air h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .macbook_air p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  text-align: left;
  margin-bottom: 6px;
  max-width: 261px;
}
.most_selled .selled_items .macbook_air a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.most_selled .selled_items .ipad {
  max-width: 303px;
  padding: 31px 0 28px;
}
.most_selled .selled_items .ipad .ipad_photo {
  margin: 28px;
}
.most_selled .selled_items .ipad h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_selled .selled_items .ipad p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 8px;
  text-align: left;
  max-width: 261px;
}
.most_selled .selled_items .ipad a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.new_design {
  padding: 47px 0 28px;
}
.new_design h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.new_design p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 56px;
  text-align: center;
}
.new_design .container:last-of-type {
  display: flex;
  justify-content: space-between;
}
.new_design .container .latest {
  background: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
  max-width: 413px;
  text-align: center;
}
.new_design .container .latest p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.new_design .container .latest h4 {
  margin-bottom: 30px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.new_design .container .latest a {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.new_design .container .latest .latest_photo {
  display: inline-block;
  margin-top: 30px;
}
.new_design .container .best_selling {
  background: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
  max-width: 413px;
  text-align: center;
}
.new_design .container .best_selling p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.new_design .container .best_selling h4 {
  margin-bottom: 30px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.new_design .container .best_selling a {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.new_design .container .best_selling .best_selling_photo {
  display: inline-block;
  margin-top: 30px;
}
.new_design .container .product {
  background: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
  max-width: 413px;
  text-align: center;
}
.new_design .container .product p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.new_design .container .product h4 {
  margin-bottom: 30px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.new_design .container .product a {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.new_design .container .product .product_photo {
  display: inline-block;
  margin-top: 30px;
}

.ideas {
  padding: 47px 0 24px;
}
.ideas h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.ideas p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 56px;
}
.ideas .ideas_box {
  display: flex;
  justify-content: space-between;
}
.ideas .ideas_box .ideas_photo {
  display: block;
}
.ideas .ideas_box .ideas_text {
  max-width: 600px;
}
.ideas .ideas_box .ideas_text h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 28px;
  max-width: 600px;
}
.ideas .see_all {
  text-decoration: none;
}
.ideas .ideas_see_all {
  text-align: center;
  margin-top: 73px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
}
.ideas .ideas_see_all .arrow {
  box-sizing: border-box;
  position: relative;
  top: 10px;
  right: -15px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 3px solid;
  transform: scale(var(--ggs, 1));
  border-right: 3px solid;
}
.ideas .ideas_see_all .arrow:after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 14px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  top: -16px;
  right: 3px;
}

.looking_for {
  padding: 51px 0 19px;
}
.looking_for h3 {
  margin-bottom: 24px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.looking_for form {
  max-width: 650px;
  margin: auto;
}
.looking_for input {
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  width: 650px;
  height: 60px;
  padding-left: 70px;
  position: relative;
  right: 50px;
}
.looking_for input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
}
.looking_for .search_link {
  position: relative;
  right: 25px;
  bottom: 43px;
}
.looking_for .search_items {
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.looking_for .search_items a {
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  padding: 12px 22px 13px;
  text-decoration: none;
  margin-right: 7px;
  margin-bottom: 7px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.looking_for .container:last-of-type {
  background: #DCE5E2;
  border-radius: 16px;
  max-width: 935px;
  margin-top: 68px;
  padding: 47px 0 43px;
}
.looking_for .container h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.looking_for .container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 14px;
}
.looking_for .container .best_offer_photo {
  max-width: 233px;
  width: 100%;
  margin: auto;
}
.looking_for .container .second_form {
  display: flex;
  max-width: 400px;
  margin-top: 14px;
}
.looking_for .container .second_form .email_input {
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
  height: 50px;
  width: 285px;
  margin-right: -50px;
}
.looking_for .container .second_form .button {
  background: #000000;
  border-radius: 0 200px 200px 0;
  padding: 15px 20px 16px;
}
.looking_for .container .second_form .button .button_sec {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
}

footer {
  padding-top: 55px;
  background: #F8F9FA;
}
footer .container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #DCE5E2;
}
footer .container .last_logo {
  max-width: 304px;
}
footer .container .last_logo p {
  margin-top: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
footer .container ul {
  list-style: none;
  margin-bottom: 78px;
}
footer .container ul li {
  margin-bottom: 14px;
}
footer .container ul li:first-of-type {
  margin-bottom: 19px;
}
footer .container ul li:first-of-type a {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
footer .container ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
footer .container:last-of-type {
  padding-top: 52px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
footer .container:last-of-type p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
footer .container:last-of-type span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 5px;
}
footer .container .last_text {
  box-sizing: border-box;
  position: relative;
  top: 9px;
  right: -2px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 3px solid;
  transform: scale(var(--ggs, 1));
  border-right: 3px solid;
}
footer .container .last_text:after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 14px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  top: -12px;
  right: 2px;
}
footer .container .last_link {
  text-decoration: none;
}

/*# sourceMappingURL=preproc.css.map */
